

/*reset*/
html,
body,
ul,
ol {
    font-size:18px;
    margin:  0;
    padding: 0;
}
h1{
    font-size:3em;
}
h2{
    font-size:2.4em;
}
h3{
    font-size:2em;
}
/*fonts */
.customFont{ font-family: 'The Girl Next Door', cursive;}
.decorFont{ font-family: 'Acme', sans-serif; font-weight: 800;}
.font{ font-family: 'Questrial', serif;}
/*link overrides*/
    a{
    color:white;
    text-decoration: none;
}
a:visited{
    color:yellow;

}
a li:hover{
    background:rgba(255,255,255,0.6);
    box-shadow:2px 2px black;
}
a li:active{
    background:rgba(211,144,0,0.3);
    box-shadow:2px 2px black;
}

/*colors */
.color-primary-0{ color:  #BBF138;}	
.color-primary-1{ color:  #B6FF00;}
.color-primary-2{ color:  #8AC200;}
.color-primary-3{ color:  #668E03;}
.color-primary-4{ color:  #4A6800;}

.color-secondary-1-0{ color:  #4ED632;}	
.color-secondary-1-1{ color:  #2CFF00;}
.color-secondary-1-2{ color:  #1EAC00;}
.color-secondary-1-3{ color:  #187D03;}
.color-secondary-1-4{ color:  #105C00;}

.color-secondary-2-0{ color:  #FFEA3B;}	
.color-secondary-2-1{ color:  #FFE400;}
.color-secondary-2-2{ color:  #CEB800;}
.color-secondary-2-3{ color:  #968704;}
.color-secondary-2-4{ color:  #6E6300;}

.color-complement-0{ color:  #FF403B;}	
.color-complement-1{ color:  #FF0700;}
.color-complement-2{ color:  #CE0500;}
.color-complement-3{ color:  #960704;}
.color-complement-4{ color:  #6E0300;}
/* Header Styles */

/*logo*/
#mainNav #logo{
    text-shadow:1px 1px black;
    margin-right:200px;
    font-size:1.5em;
    color:  #FFE400;
    padding: 0;
    font-family: 'The Girl Next Door', cursive;
    margin:5px;
    padding-left:40px;
    padding-right:200px;
    font-weight: 800;
    text-align: center;
}   
/*div container for nav*/
.mainNav{
    width:100vw;
    color:green;
    font-size:1.2em;
}
/*nav ul*/
#mainNav{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    background:#105C00;
    height:auto;
    font-size: 18px;
    position:relative;
}
/*individual lis from nav ul*/
#mainNav li{
    font-family: 'Questrial', serif;
    color:whitesmoke;
    padding:4px;
    margin-right:25px;
    margin:13px;
    height:20px;
    border-radius: 10px;
}
/*dropdown div inital state*/
.dropDown{
    display:none;
    position:absolute;
    min-width: 80px;
    z-index: 1;
    right:0;

}
/*uls with hover state menus*/
.dropper{
    background-color: rgba(255,255,255,0.6);
    position: relative;
    display: inline-block;
   }
/*  rounded corner for leftmost ul*/
.dropDown:first-of-type{
    border-bottom-left-radius: 25px;
}
/*  rounded corner for rightmost ul*/
.dropDown:last-of-type{
    border-bottom-right-radius: 25px;
}
/*hover state activation of dropDown content*/
.dropper:hover .dropDown{
    display:flex;
    background-color: seagreen;
    padding:12px;
}
/*hover state highlighting*/
.dropper:hover{
    background-color: rgba(255,255,255,0.6);
}
.dropDown li:hover{
     background-color: rgba(255,255,255,0.6);
}
#hideableMenu{
    display: flex;
    flex-direction: row;
}
#menu{
    display:none;
}
/*END of Header Styles*/

/*Footer Styles*/

.footerContainer{
    display:flex;
    flex-direction: row;
    background-color:#105C00;
    padding:24px;
    font-family: 'The Girl Next Door', cursive;
    color:whitesmoke;
    font-size: 1.4em;
}
.footerContainer ul{
    list-style: none;
    width:49%;
}
/* END OF FOOTER STYLES*/
.logo{
    color:yellow;
    font-size: 1.3em;
    font-weight: 800;
}
/*bogus styles*/
.handle{
    color:rgb(81, 152, 57);   
    font-family: 'The Girl Next Door', cursive;
}
.username{
    color: antiquewhite;
    font-family: 'Acme', sans-serif;
}
.container{
    width:80%;
    margin-left:10%;
    min-height:80vh;
}
.panel{
    font-family: 'Questrial', serif;
    border: 11px solid green;
    margin:20px 0 20px 0;
     padding: 12px;
    font-size: 1.6em;
      border-radius: 25px;
}
.landing{
   
    text-align: center;
}
.landing img{
    width: 100%;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.development{
    
    text-align:left;
}

@media screen and (max-width: 880px){
    /*HEADER STYLES for media Q*/
   
    #mainNav{
        display:block;
        font-size: 1em;
        
    }
    .dropDown{
       
        left:50px;
        right:auto;
        border:2px solid white;
    }
  #mainNav #logo{
        font-size: 1.8em;
        text-align: center;
        padding-bottom: 50px;
    }
    #mainNav li{
        margin:4px 4px 4px 4px;
        
    }
    .dropper{
        display:flex;
        flex-direction: row;
        position: relative;
    }
    .dropper:hover .dropDown{
        padding:4px;
    }
    .dropDown:first-of-type{
    border-top-left-radius: 25px;
}
.dropDown:last-of-type{
    border-top-right-radius: 25px;
}
    #menu{
    font-size: 1.4em;
    display:block;
    position:absolute;
    top:12px;
    right:12px;
    background:yellow;
    z-index: 2;
    border:0;
    color:white;
    padding:4px;
    border-radius: 12px;
    box-shadow: 1px 1px black;
}
#menu:hover{
    background-color: white;
    color:black;
}
#menu:active{
    color:white;
    background-color: black;
}
#hideableMenu{
    flex-direction: column;
}
/*END OF HEADER STYLES FOR M QUERY*/

/*BEGINNING OF FOOTER STYLES FOR M QUERY*/
.footerContainer{
    font-size:.8em;
    flex-direction: column;
}

    
    /*END OF FOOTER STYLES FOR MEDIA Q*/

/*BEGINNING OF STYLES FOR HOMEPAGE MEDIA Q*/
.landing img{
    width:100%;
    max-width: 800px;
    height:auto;
    margin:0;
    padding:0;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    box-shadow: 0px 12px black;
}
    .panel{
        margin: 0 0 10px 0;
       padding: 0;
        border:8px solid green;
        font-size: 1em;
      
    }
.container{
    margin: 0;
     padding: 0;
    width:100%;
}
    .development{
        padding-left: 20px;
    }
}
